#titulo-carrito {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

/* TABLA -----------------------------------------------------*/
.table {
  width: 100%; /* Ancho del 100% para llenar la pantalla */
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

table {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #f1f1f17c;
  width: 100%;
  border-collapse: collapse;
  border: 10px;
  border-radius: 25px;
  margin: 30px 0 50px 0;
}

#cartTable th {
  /* Titulos de la lista */
  font-size: 17px;
  color: #cfe9f5;
  background-color: #3a3a3a;
  padding: 20px 0;
}

#titulo-lista-imagen {
  border-radius: 25px 0 0 0;
}

#titulo-lista-subtotal {
  border-radius: 0 25px 0 0;
}

#cartTable th,
td {
  /* todos los elementos */
  border-bottom: 1px solid #ffffff23;
  height: 50px;
}

/* Boton basura */
#cartTable img {
  width: 100px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  margin: 13px 0;
}

input {
  border-color: #ececec;
  border-radius: 15px;
  padding: 0 10px;
  margin: 5px 0;
}

tr input {
  width: 100px;
  text-align: center;
}

#total-realizar-compra {
  margin-top: 120px;
}

#precio-compra {
  background-color: #ececec;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

#total {
  margin-bottom: 0px;
}

#btn-realizar-compra {
  width: 100%;
}

#totalp {
  font-size: 0.8em;
}

.cantProd {
  width: 60px;
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  #cart-shiping {
    text-align: center;
  }

  .tipo-envio {
    margin-top: 30px;
  }

  #total-realizar-compra {
    margin-top: 50px;
  }

  #precio-compra {
    text-align: center;
    margin-bottom: 20px;
  }

  #cartTable th,
  td {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .imgProd {
    display: none;
  }

  .nomProd {
    border-radius: 20px 0px 0px 0px;
  }

  .cantProd {
    width: 60px;
  }

  #cartTable th,
  td {
    font-size: 10px;
  }

  .datosDirec {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
  }
}
