#titulo-carrito {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

/* TABLA */
.table {
  width: 100%;
  overflow-x: auto;
}

table {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #ecebeb7c;
  width: 100%;
  border-collapse: collapse;
  border: 10px;
  border-radius: 25px;
  margin: 30px 0 50px 0;
}

#cartTable th {
  /* Titulos de la lista */
  font-size: 17px;
  color: #cfe9f5;
  background-color: #3a3a3a;
  padding: 20px 0;
}

#titulo-lista-imagen {
  border-radius: 25px 0 0 0;
}

.encabezadoX {
  border-radius: 0 25px 0 0;
}

#cartTable th,
td {
  /* todos los elementos */
  border-bottom: 1px solid #ffffff23;
  height: 50px;
}

/* Boton ELIMINAR */
#cartTable img {
  width: 100px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  margin: 13px 0;
}

table input {
  border-color: #ececec;
  border-radius: 15px;
  padding: 0 10px;
  margin: 5px 0;
}

tr input {
  width: 100px;
  text-align: center;
}

/*Total*/
#total-realizar-compra {
  margin-top: 50px;
}

#precio-compra {
  background-color: #ecebeb7c;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
}

#total {
  padding-top: 10px;
  font-weight: bold;
  font-size: large;
}

#btn-realizar-compra {
  width: 100%;
}

#totalp {
  font-size: 0.8em;
}

.cantProd {
  width: 60px;
}

#btn-realizar-compra {
  border-radius: 25px;
  height: 50px;
}

/*Shipping seccion metodos*/
#cart-shiping {
  display: flex;
  background-color: #ecebeb7c;
  padding: 30px 20px;
  border-radius: 25px;
  color: #212529;
}

.datosPago {
  color: #212529;
}

.seccion-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px;
  border-color: #3a3a3a;
}

/*Radio*/
.radio-container {
  display: flex;
  align-items: center;
  margin: 5px;
  background-color: white;
  border-radius: 20px;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.tipo-envio label {
  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;
  width: 290px;
  transition: border-color 0.3s;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border: 2px solid #242424;
  font-weight: bold;
}

.datosDirec input {
  margin: 5px 0;
  padding: 5px 15px;
  border: 0;
  border-radius: 20px;
  width: 290px;
  transition: border-color 0.3s;
  cursor: pointer;
}

input[type="text"]:hover {
  width: 305px;
}

.datosStyle label {
  text-align: start;
  padding: 5px 0px;
}

/*MEDIA QUERY*/
@media (max-width: 991px) {
  .seccion-shipping {
    width: 100%;
  }

  .tipo-envio {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .tipo-envio {
    margin-top: 30px;
  }

  #total-realizar-compra {
    margin-top: 50px;
  }

  #precio-compra {
    text-align: center;
    margin-bottom: 20px;
  }

  #cartTable th,
  td {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .imgProd {
    display: none;
  }

  .nomProd {
    border-radius: 20px 0px 0px 0px;
  }

  .cantProd {
    width: 60px;
  }

  #cartTable th,
  td {
    font-size: 10px;
  }

  .datosDirec {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
  }
}

.btnEliminar {
  color: red;
  cursor: pointer;
  padding: 0 15px;
  font-size: 1.3rem;
  font-weight: 700;
}

