.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

/* color del body */
body {
  background-color: #fbfbfb;
}

/* Estilo del nav */
/* Nav */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #000000e1;
  box-shadow: 0px 1px 10px black;
  height: 70px;
  min-width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

#logoIndex {
  text-decoration: none;
}

/* Botón del menú */
.dropbtn {
  background-color: #000000e1;
  color: #c9c9c9;
  font-weight: 200;
  font-size: 20px;
  border: "none";
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

/* Nombre del usuario */
#usernameSpan {
  display: block;
}

/* Contenido desplegable */
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  right: 5px;
  background-color: #000000e1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 15px;
  border-radius: 5px;
}

/* Enlaces dentro del contenido desplegable */
.dropdown-content li {
  list-style-type: none;
  margin-bottom: 4px;
}

.dropdown-content a {
  text-decoration: none;
  color: #c5c5c5;
  font-weight: 200;
  font-size: 20px;
  transition: 0.3s;
}
.dropdown-content a:hover {
  color: #03045e;
}

.active {
  display: block;
}

.logo {
  color: rgb(210, 105, 30);
  font-size: 35px;
  font-weight: 400;
  font-family: "Lilita One", cursive;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 45px;
  padding-top: 20px;
}

.menu li a {
  text-decoration: none;
  color: #d0d0d0;
  font-weight: 200;
  font-size: 20px;
  transition: 0.3s;
}

/* ESTILOS DE LAS TARJETAS */
.card {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-header {
  border-radius: 8px 8px 0 0;
  height: 200px;
}

.card-body {
  padding: 20px 15px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  height: 200px; /* Asegura que la altura del cuerpo sea igual a la del encabezado */
  /*  overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado largo */
}
.jumbotron .display-4 {
  font-weight: bold;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.texto-descripcion a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.nameCar {
  margin-top: -15px;
  margin-bottom: 5px;
  font-weight: bold;
}
.desCar {
  font-size: 92%;
  font-weight: lighter;
  color: #7f7f7f;
}

.priceCar {
  font-weight: bold;
}

.amountCar {
  color: rgb(158, 158, 158);
}

.priceAmount {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -10px;
  margin-top: -25px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* IMAGEN INDEX */
.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

/* NO ESTOY SEGURA */
.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

/* BUSCAR */
.search-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  gap: 4px;
  background-color: white;
  border-radius: 6px;
  border: solid rgba(153, 169, 171, 0.25) 2px;
}

#search {
  width: fit-content;
  border: 0;
  padding-left: 10px;
}

#search-button img {
  width: 24px;
  pointer-events: none;
}

#search-button {
  background-color: white;

  border-radius: 0px 4px 4px 0px;
  padding: 4px 5px 4px 4px;

  cursor: pointer;
}

#search-button:hover {
  background-color: rgba(153, 169, 171, 0.25);
}

#search-button:hover img {
  filter: invert();
}

.contenedor-auto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 15px;
  width: 865px;
}

.contenedor-imagen img {
  width: 160px;
  height: 150px;
}

.informacion-producto {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.informacion-producto p {
  padding-right: 0;
  font-size: 25px;
}

/* FOOTER */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

/* Modo oscuro */
.dark-mode {
  background-color: #181818;
  color: white;
}

.dark-mode2 {
  background-color: #2a2a2a;
  color: white;
}

.card,
.card-body {
  border: 0;
}

/* Modo oscuro BOTON*/
/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
  margin-bottom: 15px;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}

.menuCel {
  display: none;
}

#logout {
  margin-left: 5px;
}

@media (max-width: 980px) {
  .flecha {
    margin-top: 150px;
    width: 40px;
    height: 70px;
  }

  .menu {
    display: none;
  }

  .menuCel {
    display: block;
  }
}

@media (max-width: 480px) {
  #theme-toggle-button {
    width: 4em;
  }

  .logo {
    font-size: 26px;
    font-weight: 100px;
  }

  .dropbtn {
    height: 50px;
    font-size: 10px;
    padding: 0 5px;
    flex-direction: row;
  }
  .carousel-item img {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .tarjetas {
    min-width: 100%;
    max-height: auto;
    overflow: hidden;
    position: relative;
  }

  .img-tarjetas {
    width: 100%;
    margin-top: 0;
  }

  #infEnd {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    text-align: center;
  }

  footer .col-4 {
    width: 100%;
  }

  #usernameSpan {
    display: none;
  }
}

.recommended-wrap {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
  font-weight: 100;
}

.recommendation_card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.call_to_action-wrap {
  display: flex;
  align-items: start;
  justify-content: center;

  margin-bottom: 120px;
}

.video_wrap iframe {
  position: relative;

  height: 150%;
}

.video_wrap {
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  box-sizing: border-box;
}

.cta_info-wrap {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 50vw;
  height: 60vh;
}

.cta_info-wrap p {
  max-width: 350px;
  text-align: center;
  font-weight: 100;
}

.fondoObscuro {
  background-color: #020c18;
  color: white;
}

#btnVerCatalogo {
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 7px;
  background-color: rgb(208, 113, 3);
  color: white;
  font-weight: bold;
}

.featured_products-wrap {
  display: flex;
  flex-direction: column;

  gap: 50px;
  margin-bottom: 120px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .recommended-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 50px 0px;
  }

  .call_to_action-wrap {
    flex-direction: column;
    align-items: center;
  }

  .video_wrap,
  .cta_info-wrap {
    width: 80vw;
  }
}

/* BARRA DE SCROLL */
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: rgba(219, 197, 166, 0.5);
  
}

body::-webkit-scrollbar-thumb {
  background: rgba(138, 76, 10, 0.5);
  border-radius: 100vw;
  border: 0.25em solid rgba(219, 187, 166, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(173, 95, 18, 0.5);
}

/* MARGENES Y ESTILO PARA EL TITULO DE CATEGORIAS */
#tituloCategorias {
  margin-top: 50px;
}

#tituloCategorias h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

#tituloCategorias p {
  font-weight: 400;
  font-size: 25px;
}

/* MARGENES Y ESTILO DEL TITULO DE PRODUCTS */
#tituloProducto {
  margin-top: 50px;
}

#tituloProducto h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#tituloProducto p {
  font-weight: 400;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* MARGEN TOP PARA EL CONTENIDO DE LA PAGINA INFOPRODUCTS */
#mainInfo {
  margin-top: 50px;
}

.subtitulo {
  font-weight: lighter !important;
  font-size: large !important;
}

.letraFina {
  font-weight: lighter !important;
}

/*-------FOOTER----------*/
footer {
  background-color: #021018;
  color: #cacaca;
  
}

footer ul {
  list-style: none;
  padding: 0;
  font-weight: 100;
}

footer h4 {
  font-weight: bold;
  color: #eba14b;
}

.volverArriba {
  text-align: end;
  margin-right: 40px;
  margin-bottom: 20px;
}

#condPerfil {
  font-size: small;
  color: gray;
}


#japFooter a{
  text-decoration: none;
  color: #eba14b;
  font-weight: bold;
  margin-left: 5px;
}

.volverArriba {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}

.volverArriba button {
  margin-top: 20px;
  padding: 6px 10px; 
  border-radius: 7px;
  background-color: #eba14b;
  box-shadow: 3px 5px 3px rgb(70, 69, 69);
  
}

#japFooter a:hover {
  color: #9c672b;
}

.volverArriba a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.volverArriba i {
  color: white;
  font-weight: bold;
  padding-left: 3px;
  font-size: 15px;
}

